i {
  font-size: 16px;
  color: black;
}

button,
input {
  margin-right: 10px;
  background: none;
  padding: 4px;
  cursor: pointer;
}

button:disabled i {
  color: gray;
  cursor: not-allowed;
}

body {
  font-size: 20px;
}

.container {
  height: 100dvh;
  width: 100dvw;
}
